<app-header></app-header>

<div class="search">
    <form class="form" color="primary">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>
                <mat-icon>search</mat-icon>
                Search</mat-label>
            <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl">
        </mat-form-field>
    </form>      
</div>

<div *ngFor="let option of filteredOptions | async">
    {{option}}
</div>